% !TEX TS-program = xelatex
% !TEX encoding = UTF-8 Unicode
% -*- coding: UTF-8; -*-
% vim: set fenc=utf-8

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%% CV.tex
%% <https://github.com/zachscrivena/simple-resume-cv>
%% This is free and unencumbered software released into the
%% public domain; see <http://unlicense.org> for details.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

% See "README.md" for instructions on compiling this document.

\documentclass[letterpaper,MMMyyyy,nonstopmode]{simpleresumecv}
% Class options:
% a4paper, letterpaper, nonstopmode, draftmode
% MMMyyyy, ddMMMyyyy, MMMMyyyy, ddMMMMyyyy, yyyyMMdd, yyyyMM, yyyy

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%% PREAMBLE.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

% CV Info (to be customized).
\newcommand{\CVAuthor}{Nick Pleatsikas}
\newcommand{\CVTitle}{Nick Pleatsikas's Resume}
\newcommand{\CVNote}{Resume compiled on {\today}}
\newcommand{\CVWebpage}{https://pleatsikas.me}

% PDF settings and properties.
\hypersetup{
pdftitle={\CVTitle},
pdfauthor={\CVAuthor},
pdfsubject={\CVWebpage},
pdfcreator={XeLaTeX},
pdfproducer={},
pdfkeywords={},
unicode=true,
bookmarksopen=true,
pdfstartview=FitH,
pdfpagelayout=OneColumn,
pdfpagemode=UseOutlines,
hidelinks,
breaklinks}

% Shorthand.
\newcommand{\Code}[1]{\mbox{\textbf{#1}}}
\newcommand{\CodeCommand}[1]{\mbox{\textbf{\textbackslash{#1}}}}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%% ACTUAL DOCUMENT.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\begin{document}

%%%%%%%%%%%%%%%
% TITLE BLOCK %
%%%%%%%%%%%%%%%

\Title{\CVAuthor}

\begin{SubTitle}
Emeyville, CA 94608
\,\SubBulletSymbol\,
\href{mailto:nick@pleatsikas.me}
{nick@pleatsikas.me}
\,\SubBulletSymbol\,
\href{\CVWebpage}
{\url{\CVWebpage}}
\end{SubTitle}

\begin{Body}

%%%%%%%%%%%%
%% Languages %%
%%%%%%%%%%%%

\Section
{Languages}
{Languages}
{PDF:Languages}
\Entry
Go, Python, Rust, C/C++

%%%%%%%%%%%%
%% Technologies %%
%%%%%%%%%%%%

\Section
{Technologies}
{Technologies}
{PDF:Technologies}
\Entry
Kubernetes, Docker, Terraform, Ansible, Redis, PostgreSQL

%%%%%%%%%%%%%%%
%% EDUCATION %%
%%%%%%%%%%%%%%%

\Section
{Education}
{Education}
{PDF:Education}

\Entry
\href{https://ucr.edu}
{\textbf{University of California, Riverside}}

\Gap
\BulletItem
B.Sc., in
\href{https://www.engr.ucr.edu}
{Computer Engineering}
\hfill
\DatestampYMD{2016}{09}{21} --
\DatestampYMD{2020}{06}{15}
\begin{Detail}
\SubBulletItem
GPA: 3.81
\end{Detail}

%%%%%%%%%%%%%%%%%%%%%%%%%%%
%% WORK EXPERIENCE %%
%%%%%%%%%%%%%%%%%%%%%%%%%%%

\Section
{Work\newline
Experience}
{Work Experience}
{PDF:WorkExperience}

{{ range .Work }}
\Entry
\href{ {{ .Company.URL }} }{\textbf{ {{ .Company.Name }} }}
{{ .Position }}
{{ .FormatDateRange }}
\Gap

{{ range $item := .Description }}
\BulletItem
{{ $item }}
\Gap
{{ end }}

\BigGap
{{ end }}

%%%%%%%%%%%%%%%%%%%%%%%
%% Projects %%
%%%%%%%%%%%%%%%%%%%%%%%

\Section
{Projects}
{Projects}
{PDF:Projects}

{{ range .Projects }}
\Entry
\href{ {{ .URL }} }{ \textbf{ {{ .Name }}: } }{{ .Language }}
\BulletItem
{{ .Description }}
\hfill
\BigGap
{{ end }}

%%%%%%%%%%%%%%%
% Course Work %
%%%%%%%%%%%%%%%

\Section
{Relevant Course Work}
{Relevant Course Work}
{PDF:Relevant Course Work}

\BulletItem\textbf{CS141}: Data Structures and Algorithms
\BulletItem\textbf{CS164}: Computer Networks
\BulletItem\textbf{CS171}: Machine Learning and Data Mining
\BulletItem\textbf{CS172}: Information Retrieval
\BulletItem\textbf{CS179I}: Computer Networks Senior Design

\end{Body}
\end{document}